<h1>ADD CART</h1>
<div class="card">
  <div *ngIf="error" class="alert alert-danger" role="alert">
    {{ error }}
  </div>
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4" for="userId">User</label>
        <select id="userId" class="form-control" formControlName="userId"
               #userId>
          <option value=""></option>
          <option *ngFor="let user of users" value="{{user.id}}">
            {{user.email}} ({{user.name}})
          </option>
        </select>
      </div>
      <div class="form-group text-right">
        <a [routerLink]="['/carts']" class="btn btn-primary mr-2"> Return to Carts </a>
        <button
          (click)="addCart(userId.value)"
          type="submit" class="btn btn-primary ml-2" [disabled]="angForm.pristine || angForm.invalid">Create Cart
        </button>
      </div>
    </form>
  </div>
</div>
