<h1>ITEMS</h1>
<div *ngIf="message" class="alert alert-success" role="alert">
  {{ message }}
</div>
<div *ngIf="error" class="alert alert-danger" role="alert">
  {{ error }}
</div>
<table class="table table-hover">
  <thead>
  <tr>
    <td colspan="4" class="text-right">
      <a routerLink="/item/create" class="btn btn-primary" routerLinkActive="active">
        Create Item
      </a>
    </td>
  </tr>
  <tr>
    <th>Item Name</th>
    <th>Item Value</th>
    <th colspan="2" class="text-center">Actions</th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let item of items">
    <td>{{ item.name }}</td>
    <td class="text-right">{{ item.value | number: '.2-2' }}</td>
    <td class="text-center"><a [routerLink]="['../item/edit', item.id]" class="btn btn-primary">Edit</a></td>
    <td class="text-center"><a (click)="deleteItem(item.id)" class="btn btn-danger">Delete</a></td>
  </tr>
  </tbody>
</table>
