<!--suppress TypeScriptUnresolvedVariable -->
<h1>EDIT USER</h1>
<div class="card">
  <div *ngIf="error" class="alert alert-danger" role="alert">
    {{ error }}
  </div>
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4" for="userEmail">User Email</label>
        <input id="userEmail" type="email" class="form-control" formControlName="userEmail"
               #userEmail [(ngModel)]="user.email"/>
      </div>
      <div
        *ngIf="angForm.controls['userEmail'].invalid && (angForm.controls['userEmail'].dirty || angForm.controls['userEmail'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['userEmail'].errors.required || angForm.controls['userEmail'].errors.email">
          A valid User Email is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4" for="userName">User Name </label>
        <input id="userName" type="text" class="form-control" formControlName="userName"
               #userName [(ngModel)]="user.name"/>
      </div>
      <div
        *ngIf="angForm.controls['userName'].invalid && (angForm.controls['userName'].dirty || angForm.controls['userName'].touched)"
        class="alert alert-danger">
        <div *ngIf="angForm.controls['userName'].errors.required">
          A valid User Name is required.
        </div>
      </div>
      <div class="form-group text-right">
        <a [routerLink]="['/users']" class="btn btn-primary mr-2" routerLinkActive="active">
          Return to Users
        </a>
        <button
          (click)="updateUser(userEmail.value, userName.value)"
          type="submit" class="btn btn-primary" [disabled]="angForm.pristine || angForm.invalid">Update User
        </button>
      </div>
    </form>
  </div>
</div>
